.header-fixed {
  position: fixed;
  top: 0;
  width: 40%;
  min-width: 300px;
  backdrop-filter: blur(0);
  z-index: 50;
  border-radius: 50px;
  margin-top: 20px;
  background-color: var(--color-surface-container-low);
}

.header-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  width: 90%;
  height: 500px;
  background-color: var(--color-surface-container-low);

  .dropdown-menu {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .header-fixed {
    position: fixed;
    top: 0;
    width: 960px;
    backdrop-filter: blur(0);
    z-index: 50;
    border-radius: 50px;
    margin-top: 20px;
    background-color: var(--color-surface-container-low);
  }
}
