.swiper-wrapper {
  display: flex;
}
@media screen and (min-width: 1280px) {
  .swiper-wrapper {
    height: 1000px;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-wrapper {
    height: 800px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-wrapper {
    height: 600px;
  }
}

@media screen and (min-width: 375px) {
  .swiper-wrapper {
    height: 500px;
  }
}
